/* FONT: FAMILY */
:root {
  --f-family-var: 'Heebo';
}

body.body--with-checkbox-checked {
  overflow: hidden;
}

#sv-header {
  padding: 0 16px;
  background-color: #eef3ff;
  border-bottom: 1px solid #7A7A7A80;
}

#sv-header .sv-header__container {
  --container: 100%;
  
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

#sv-header .sv-header__checkbox {
  display: none;
}

#sv-header .sv-header__nav-controls {
  width: auto;
  order: 1;
  line-height: 0;
}

#sv-header .sv-header__checkbox:checked~.sv-header__nav-controls .sv-header__navOpen,
#sv-header .sv-header__navClose {
  display: none;
}

#sv-header .sv-header__checkbox:checked~.sv-header__nav-controls .sv-header__navClose {
  display: block;
}

#sv-header .sv-header__logo {
  width: 100%;
  order: 2;
  max-width: 130px;
  line-height: 0;
}

#sv-header .sv-header__logo img {
  width: 100%;
}

#sv-header .sv-header__logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #30373D;
  text-align: center;
}

#sv-header .sv-header__buttons {
  width: 33%;
  order: 3;
  display: none;
}

#sv-header .sv-header__button {
  font-family: var(--f-family-var), Sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 12px 14px 12px 14px;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  color: #0C0D0D;
}

#sv-header .sv-header__button--hire {
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 24px 16px;
  background-color: #E31B23;
  box-sizing: border-box;
}

#sv-header .sv-header__navigation .sv-header__button--login {
  color: #30373D;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  margin: 24px 16px;
  background-color: #F3F5F9;
  box-sizing: border-box;
}

#sv-header .sv-header__navigation {
  background-color: #FFFFFF;
  color: #FFFFFF;
  position: fixed;
  top: 73px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 73px);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: all 500ms;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation {
  opacity: 1;
  pointer-events: initial;
  overflow: auto;
}

#sv-header .sv-header__navigation .sv-header__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sv-header .sv-header__navigation .menu-item {
  border-bottom-color: #E4E9F5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sv-header .sv-header__navigation .menu-item a {
  padding: 20px 16px 20px 16px;
  width: 100%;
  color: #1c2122;
  display: flex;
  flex-direction: column;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#sv-header .menu-item .menu-item-description {
  font-weight: 400;
}

#sv-header .sv-header__navigation .menu-item-has-children::after {
  content: '';
  width: 8px;
  height: 14px;
  background: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-chevron-right"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>') no-repeat center center;
  position: absolute;
  right: 16px;
}

#sv-header .sv-header__back-menu-container {
  background-color: #2A59DD;
  width: 100%;
}

#sv-header #sv-header__back-menu {
  padding: 14px 16px;
  background-color: transparent;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#sv-header .sv-header__back-button span {
  color: #FFFFFF;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5em;
  margin-left: 8px;
}

#sv-header .sv-header__navigation .menu-item-title {
  padding: 24px 16px;
  color: #E31B23;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  background-color: #eef3ff;
  border: none;
}

@media(max-width: 1024px) {
  #sv-header .sub-menu {
    background-color: #FFFFFF;
    position: fixed;
    top: 74px;
    left: 100%;
    width: 100%;
    height: calc(100dvh - 74px);
    z-index: 200;
    transition: all 500ms;
    overflow: auto;
    padding: 0;
  }
  
  #sv-header .sub-menu.submenu-container--show {
    left: 0;
  }

  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .sub-menu {
    top: 119px;
    height: calc(100dvh - 119px);
  }
}

@media (min-width: 1025px) and (max-width: 1198px) {
  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .sub-menu {
    top: 106px;
    height: calc(100dvh - 106px);
  }
}

@media(min-width: 1199px) {
  #sv-header .d-none-desktop {
    display: none !important;
  }

  #sv-header .d-none-mobile {
    display: block;
  }

  #sv-header .sv-header__container {
    --container: 1200px;

    flex-direction: row;
    gap: 24px;
    padding: 21px 0;
  }

  #sv-header .sv-header__navigation {
    order: 2;
    height: 100%;
  }

  #sv-header .sv-header__logo {
    order: 1;
  }

  #sv-header .sv-header__logo-text {
    text-align: left;
  }

  #sv-header .sv-header__buttons {
    width: auto;
    order: 3;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
  }

  #sv-header .sv-header__button--hire {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    width: max-content;
  }

  #sv-header .sv-header__button--hire::after {
    content: "";
    background: #2a59dd;
    position: absolute;
    z-index: -1;
    display: block;
    transition: all .35s;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
  }

  #sv-header .sv-header__button--hire:hover::after {
    top: 0;
    bottom: 0;
  }

  #sv-header .sv-header__navigation {
    opacity: 1;
    position: static;
    pointer-events: initial;
    background-color: #eef3ff;
  }

  #sv-header .sv-header__navigation .sv-header__menu-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  #sv-header .sv-header__navigation .menu-item {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: default;
  }

  #sv-header .sv-header__navigation .menu-item a {
    font-size: 16px;
    transition: all .5s ease-in-out;
    padding: 0 16px;
  }

  #sv-header .sv-header__navigation .menu-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 0;
    height: 3px;
    background-color: #e31b23;
    transition: width .3s;
  }

  #sv-header .sv-header__navigation .menu-item:hover::before {
    width: 100%;
  }

  #sv-header .sv-header__navigation .menu-item .sub-menu .menu-item::before,
  #sv-header .sv-header__navigation .menu-item-has-children::after {
    display: none;
  }

  #sv-header .sv-header__navigation .sub-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 32px);
    left: 0;
    background-color: #e4ecff;
    z-index: 1000;
    padding: 24px 32px;
    transition: all .3s ease-in-out;
    width: max-content;
    min-width: 320px;
    max-width: max-content;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,.15);
  }

  #sv-header .sv-header__navigation .sub-menu:before {
    content: "";
    bottom: 100%;
    height: 32px;
    position: absolute;
    width: 100%;
    left: 0;
  }

  #sv-header .sv-header__navigation .menu-item:hover .sub-menu,
  #sv-header .sv-header__navigation .menu-item:focus-within .sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #sv-header .sv-header__navigation .sub-menu .menu-item-btn,
  #sv-header .sv-header__navigation .sub-menu .menu-item-title {
    display: none;
  }

  #sv-header .sv-header__navigation .sub-menu li {
    position: relative;
  }

  #sv-header .sv-header__navigation .sub-menu a {
    padding: 12px;
    background-color: #e4ecff;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    transition: all .5s ease-in-out;
    color: #1E2325;
    border-radius: 8px;
  }

  #sv-header .sv-header__navigation .sub-menu a:hover,
  #sv-header .sv-header__navigation .sub-menu a:focus {
    background-color: #6ec1E478;
    color: #1E2325;
  }
}