/* FONT: FAMILY */
:root {
  --f-family-var: "Montserrat";
}

body.body--with-checkbox-checked {
  overflow: hidden;
}

#sv-header {
  padding: 0 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
}

#sv-header .sv-header__container {
  --container: 100%;
  
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

#sv-header .sv-header__checkbox {
  display: none;
}

#sv-header .sv-header__nav-controls {
  width: auto;
  order: 1;
  line-height: 0;
}

#sv-header .sv-header__logo {
  width: 100%;
  order: 2;
  max-width: 130px;
  line-height: 0;
}

#sv-header .sv-header__logo img {
  width: 100%;
}

#sv-header .sv-header__logo-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #30373D;
  text-align: center;
}

#sv-header .sv-header__icon-search {
  display: flex;
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
}

#sv-header .sv-header__buttons {
  width: 33%;
  order: 3;
  display: none;
}

#sv-header .sv-header__button {
  font-family: var(--f-family-var), Sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 12px 14px 12px 14px;
  border-radius: 50px;
  transition: all .5s ease-in-out;
  color: #0C0D0D;
}

#sv-header .sv-header__button--hire {
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 24px 16px;
  background-color: #E31B23;
  box-sizing: border-box;
}

#sv-header .sv-header__navigation .sv-header__button--login {
  color: #30373D;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  margin: 24px 16px;
  background-color: #F3F5F9;
  box-sizing: border-box;
}

#sv-header .sv-header__navigation {
  background-color: #FFFFFF;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 100;
  transition: all 500ms;
  padding: 20px;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation {
  pointer-events: initial;
  overflow: auto;
  left: 0;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation.close {
  left: -100%;
}

#sv-header .sv-header__navigation .sv-header__close-menu {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  align-items: center;
}

#sv-header .sv-header__close-menu .sv-header__nav-controls {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sv-header .sv-header__navigation .sv-header__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sv-header .sv-header__navigation .menu-item {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sv-header .sv-header__navigation .menu-item a {
  padding: 10px 0;
  width: 100%;
  color: #393939;
  display: flex;
  flex-direction: column;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  z-index: 2;
}

#sv-header .sv-header__navigation .sub-menu .menu-item a {
  color: #1E1E1E;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

#sv-header .menu-item .menu-item-description {
  padding-top: 14px;
}

#sv-header .sv-header__navigation .menu-item-has-children::after {
  content: '';
  width: 30px;
  height: 30px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" height="15" viewBox="0 0 10 15" width="10"><g fill="%232c2c2c"><rect height="1.8" rx=".9" transform="matrix(.744985 .667081 -.744985 .667081 2.28076 .044922)" width="10.3616"></rect><rect height="1.8" rx=".9" transform="matrix(-.744985 .667081 -.744985 -.667081 10.0005 7.09277)" width="10.3616"></rect></g></svg>') no-repeat center center;
  background-size: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}

#sv-header .sv-header__back-menu-container {
  width: 100%;
}

#sv-header #sv-header__back-menu {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#sv-header #sv-header__back-menu img {
  transform: rotate(-180deg);
  width: 20px;
}

#sv-header .sv-header__back-button span {
  color: #FFFFFF;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5em;
  margin-left: 8px;
}

#sv-header .sv-header__navigation .menu-item-title {
  color: #1E1E1E;
  font-family: var(--f-family-var), Sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.07em;
}

#sv-header .sv-header__navigation .menu-item-title:after {
  content: ".";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #FDBA14;
  right: 20px;
  bottom: 5px;
}

#sv-header .sub-menu {
  padding: 0;
}

@media(max-width: 1024px) {
  #sv-header .submenu-wrapper {
    background-color: #FFFFFF;
    position: fixed;
    top: 74px;
    left: 100%;
    width: 100%;
    height: calc(100dvh - 74px);
    z-index: 200;
    transition: all 500ms;
    overflow: auto;
    padding: 20px;
  }
  
  #sv-header .submenu-wrapper.submenu-container--show {
    left: 0;
  }

  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .submenu-wrapper {
    top: 46px;
    height: calc(100dvh - 46px);
  }

  #sv-header .sub-menu {
    padding: 25px 25px 50px 25px;
    box-shadow: 0px 44px 46px -18px rgba(0, 0, 0, 0.18);
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1198px) {
  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .submenu-wrapper {
    top: 106px;
    height: calc(100dvh - 106px);
  }
}

@media(min-width: 1025px) {
  #sv-header .d-none-desktop {
    display: none !important;
  }

  #sv-header .d-none-mobile {
    display: block;
  }

  #sv-header .sv-header__container {
    --container: 1200px;

    flex-direction: row;
    gap: 24px;
    padding: 21px 0;
  }

  #sv-header .sv-header__navigation {
    order: 2;
    height: 100%;
  }

  #sv-header .sv-header__logo {
    order: 1;
  }

  #sv-header .sv-header__logo-text {
    text-align: left;
  }

  #sv-header .sv-header__buttons {
    width: auto;
    order: 3;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
  }

  #sv-header .sv-header__button--hire {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    width: max-content;
  }

  #sv-header .sv-header__button--hire::after {
    content: "";
    background: #2a59dd;
    position: absolute;
    z-index: -1;
    display: block;
    transition: all .35s;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
  }

  #sv-header .sv-header__button--hire:hover::after {
    top: 0;
    bottom: 0;
  }

  #sv-header .sv-header__navigation {
    opacity: 1;
    position: static;
    pointer-events: initial;
    background-color: #eef3ff;
  }

  #sv-header .sv-header__navigation .sv-header__menu-list {
    display: flex;
    justify-content: center;
    gap: 0;
  }

  #sv-header .sv-header__navigation .menu-item {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: default;
  }

  #sv-header .sv-header__navigation .menu-item a {
    font-size: 16px;
    transition: all .5s ease-in-out;
    padding: 0 16px;
  }

  #sv-header .sv-header__navigation .menu-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 0;
    height: 3px;
    background-color: #e31b23;
    transition: width .3s;
  }

  #sv-header .sv-header__navigation .menu-item:hover::before {
    width: 100%;
  }

  #sv-header .sv-header__navigation .menu-item .submenu-wrapper .menu-item::before,
  #sv-header .sv-header__navigation .menu-item-has-children::after {
    display: none;
  }

  #sv-header .sv-header__navigation .submenu-wrapper {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 32px);
    left: 0;
    background-color: #e4ecff;
    z-index: 1000;
    padding: 24px 32px;
    transition: all .3s ease-in-out;
    width: max-content;
    min-width: 320px;
    max-width: max-content;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,.15);
  }

  #sv-header .sv-header__navigation .submenu-wrapper:before {
    content: "";
    bottom: 100%;
    height: 32px;
    position: absolute;
    width: 100%;
    left: 0;
  }

  #sv-header .sv-header__navigation .menu-item:hover .submenu-wrapper,
  #sv-header .sv-header__navigation .menu-item:focus-within .submenu-wrapper {
    opacity: 1;
    visibility: visible;
  }

  #sv-header .sv-header__navigation .submenu-wrapper .menu-item-btn,
  #sv-header .sv-header__navigation .submenu-wrapper .menu-item-title {
    display: none;
  }

  #sv-header .sv-header__navigation .submenu-wrapper li {
    position: relative;
  }

  #sv-header .sv-header__navigation .submenu-wrapper a {
    padding: 12px;
    background-color: #e4ecff;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    transition: all .5s ease-in-out;
    color: #1E2325;
    border-radius: 8px;
  }

  #sv-header .sv-header__navigation .submenu-wrapper a:hover,
  #sv-header .sv-header__navigation .submenu-wrapper a:focus {
    background-color: #6ec1E478;
    color: #1E2325;
  }
}

@media(min-width: 1200px) {
  #sv-header .sv-header__navigation .sv-header__menu-list {
    gap: 24px;
  }
}