#sv-footer {
  background-color: var(--color-primary-900);
  font-family: var(--f-family-sweet-sans);
  padding: 35px 16px;
}

#sv-footer ul {
  list-style: none;
  padding: 0;
}

#sv-footer .sv-footer__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
}

#sv-footer .sv-footer__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#sv-footer .sv-footer__logo-link {
  line-height: 0;
}

#sv-footer .sv-footer__logo {
  margin-bottom: 64px;
}

#sv-footer .sv-footer__description {
  color: var(--color-white);
  font-size: var(--px-20);
  font-weight: 900;
  line-height: var(--px-28);
  margin-bottom: 24px;
  max-width: 500px;
  text-align: center;
}

#sv-footer .sv-footer__social_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

#sv-footer .sv-footer__social_icons a {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

#sv-footer .sv-footer__social_icons img {
  max-height: 20px;
  max-width: 20px;
}

#sv-footer .sv-footer__menu .sv-footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#sv-footer .sv-footer__menu-list .menu-item a {
  color: var(--color-white);
  display: flex;
  font-size: var(--px-16);
  font-weight: 700;
  justify-content: center;
  line-height: var(--px-24);
  margin-bottom: 16px;
  pointer-events: none;
}

#sv-footer .sv-footer__menu-list .sub-menu .menu-item a {
  color: var(--color-primary-300);
  font-family: var(--f-family-cairo);
  font-size: var(--px-16);
  font-weight: 600;
  line-height: var(--px-24);
  margin-bottom: 0;
  padding: 12px 0;
  pointer-events: initial;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

#sv-footer .sv-footer__menu-list .sub-menu .menu-item a:hover {
  color: var(--color-white);
}

/* Mobile */
@media (max-width: 768px) {
  #sv-footer .sv-footer__container {
    flex-direction: column;
  }
}

/* Tablet  */
@media (min-width: 769px) {
  #sv-footer {
    margin: 0 -24px;
    padding: 50px 14px;
  }
  
  #sv-footer .sv-footer__container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #sv-footer .sv-footer__content {
    align-items: flex-start;
    box-sizing: border-box;
    min-width: 218px;
    max-width: 274px;
    padding: 10px;
    width: 100%;
  }
  
  #sv-footer .sv-footer__description {
    max-width: 100%;
    text-align: left;
  }
  
  #sv-footer .sv-footer__social_icons {
    display: flex;
    margin-bottom: 0;
  }

  #sv-footer .sv-footer__menu {
    max-width: 658px;
    width: 100%;
  }

  #sv-footer .sv-footer__menu .sv-footer__menu-list {
    flex-direction: row;
    gap: 0;
  }

  #sv-footer .sv-footer__menu .sv-footer__menu-list>li {
    padding: 10px;
    width: 100%;
  }

  #sv-footer .sv-footer__menu-list .menu-item a {
    justify-content: start;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  #sv-footer {
    padding: 88px 24px 120px 24px;
  }

  #sv-footer .sv-footer__description {
    font-size: var(--px-24);
    line-height: var(--px-32);
  }

  #sv-footer .sv-footer__menu-list .menu-item a {
    margin-bottom: 36px;
  }
}