body.body--with-checkbox-checked {
  overflow: hidden;
}

#sv-header {
  padding: 0 10px;
  background-color: var(--color-FFFF);
  box-shadow: 0px 0px 25px 0px var(--color-box-shadow);
}

#sv-header .sv-header__container {
  --container: 100%;
  
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

#sv-header .sv-header__checkbox {
  display: none;
}

#sv-header .sv-header__nav-controls {
  width: auto;
  order: 1;
  line-height: 0;
}

#sv-header .sv-header__logo {
  width: 100%;
  order: 2;
  max-width: 130px;
  line-height: 0;
}

#sv-header .sv-header__logo img {
  width: 100%;
}

#sv-header .sv-header__logo-text {
  font-size: var(--px-18);
  font-weight: 700;
  line-height: var(--px-22);
  color: var(--color-3037);
  text-align: center;
}

#sv-header .sv-header__icon-search {
  display: flex;
  position: absolute;
  right: 42px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#sv-header .sv-header__icon-search:hover .sv-header__icon-image {
  fill: var(--color-FDBA);
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

#sv-header .search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  background-color: var(--color-overlay-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transform: scale(0.2);
  pointer-events: none;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

#sv-header .search-overlay--visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: all; 
}

#sv-header .search-overlay--hidden {
  opacity: 0;
  transform: scale(0.2);
  pointer-events: none;
}

#sv-header .search-overlay__content {
  text-align: center;
  color: var(--color-FFFF);
  width: 100%;
}

#sv-header .search-overlay__form-container {
  align-items: center;
  display: flex;
  position: relative;
}

#sv-header .search-overlay__form-container form,
#sv-header .search-overlay__form-container label {
  width: 100%;
}

#sv-header .search-form input[type="search"] {
  background: 0 0;
  border: solid var(--color-FFFF);
  border-color: var(--color-FDBA);
  border-radius: 3px;
  border-width: 0 0 1px;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  padding: 0;
  text-align: center;
}

#sv-header .search-field::placeholder {
  color: var(--color-FFFF);
  opacity: 0.7;
}

#sv-header .search-form input[type="submit"] {
  display: none;
}

#sv-header .search-overlay__close {
  cursor: pointer;
  position: absolute;
  right: -16px;
  width: 20px;
  height: 20px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#sv-header .sv-header__buttons {
  width: 33%;
  order: 3;
  display: none;
}

#sv-header .sv-header__button {
  font-family: var(--f-family-var);
  font-size: var(--px-12);
  font-weight: 500;
  line-height: var(--px-18);
  padding: 12px 14px 12px 14px;
  border-radius: 50px;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
  color: var(--color-0C0D);
}

#sv-header .sv-header__button--hire {
  align-items: center;
  background-color: var(--color-FDBA);
  border-radius: 0 0 10px 0;
  box-sizing: border-box;
  color: var(--color-1E1E);
  display: flex;
  font-size: var(--px-12);
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  padding: 10px 13.2px;
  position: relative;
  text-transform: uppercase;
  width: max-content;
  z-index: 1;
}

#sv-header .sv-header__button--hire:hover {
  background-color: var(--color-1E1E);
  color: var(--color-FFFF);
}

#sv-header .sv-header__button--hire svg {
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

#sv-header .sv-header__button--hire:hover svg {
  fill: var(--color-FFFF);
}

#sv-header .sv-header__navigation {
  background-color: var(--color-FFFF);
  color: var(--color-FFFF);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 100;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
  padding: 20px;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation {
  pointer-events: initial;
  overflow: auto;
  left: 0;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation.close {
  left: -100%;
}

#sv-header .sv-header__navigation .sv-header__close-menu {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  align-items: center;
}

#sv-header .sv-header__close-menu .sv-header__nav-controls {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sv-header .sv-header__navigation .sv-header__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sv-header .sv-header__navigation .menu-item {
  background-color: var(--color-FFFF);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sv-header .sv-header__navigation .menu-item a {
  padding: 10px 0;
  width: 100%;
  color: var(--color-1E1E);
  display: flex;
  flex-direction: column;
  font-family: var(--f-family-var);
  font-size: var(--px-20);
  font-weight: 600;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  z-index: 2;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

#sv-header .sv-header__navigation .menu-item:hover a {
  color: var(--color-FDBA);
}

#sv-header .sv-header__navigation .submenu-wrapper li {
  align-items: flex-start;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: var(--color-DEDE);
  position: relative;
  padding: 0px 0px 0px 15px;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
  height: 100%;
}

#sv-header .sv-header__navigation .submenu-wrapper li:hover {
  border-color: var(--color-FDBA);
}

#sv-header .menu-item .menu-item-description {
  font-size: var(--px-12);
  font-weight: 400;
  text-transform: none;
  line-height: normal;
  color: var(--color-9090);
  padding-top: 0;
  margin-bottom: 20px;
}

#sv-header .sv-header__navigation .sub-menu .menu-item a {
  color: var(--color-1E1E);
  padding: 0;
  font-size: var(--px-14);
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 7px;
  gap: 7px;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}

#sv-header .sv-header__navigation .sub-menu .menu-item a:hover {
  color: var(--color-FDBA);
}

#sv-header .menu-item .menu-item-description {
  white-space: break-spaces;
}

#sv-header .sv-header__navigation .menu-item-has-children::after {
  content: '';
  width: 30px;
  height: 30px;
  background: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-chevron-right"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>') center center no-repeat;
  background-size: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}

#sv-header .sv-header__back-button-container {
  width: 100%;
}

#sv-header .sv-header__back-button {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#sv-header .sv-header__back-button img {
  transform: rotate(-180deg);
  width: 20px;
}

#sv-header .sv-header__back-button span {
  color: var(--color-FFFF);
  font-family: var(--f-family-var);
  font-size: var(--px-12);
  font-weight: 700;
  line-height: var(--px-18);
  margin-left: 8px;
}

#sv-header .sv-header__navigation .menu-item-title {
  color: var(--color-1E1E);
  font-family: var(--f-family-var);
  font-size: var(--px-28);
  font-weight: 300;
  line-height: var(--px-30);
}

#sv-header .sv-header__navigation .menu-item-title span {
  position: relative;
  width: 100%;
}

#sv-header .sv-header__navigation .menu-item-title span:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: var(--color-FDBA);
  right: 20px;
  bottom: 5px;
}

#sv-header .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

@media (min-width: 768px) {
  #sv-header .sub-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    column-gap: 30px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #sv-header .submenu-wrapper {
    background-color: var(--color-FFFF);
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: calc(100dvh - 74px);
    z-index: 200;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
    overflow: auto;
    padding: 20px;
  }
  
  #sv-header .submenu-wrapper.submenu-container--show {
    left: 0;
  }

  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .submenu-wrapper {
    top: 46px;
    height: calc(100dvh - 46px);
  }

  #sv-header .submenu-content {
    padding: 25px 25px 50px 25px;
    box-shadow: 0px 44px 46px -18px var(--color-box-shadow);
    background-color: var(--color-FFFF);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

@media(min-width: 1025px) {
  #sv-header {
    position: relative;
  }

  #sv-header .d-none-desktop {
    display: none !important;
  }

  #sv-header .d-none-mobile {
    display: block;
  }

  #sv-header .sv-header__container {
    --container: 1140px;

    position: static;
    flex-direction: row;
    gap: 18px;
    padding: 25px 0;
  }

  #sv-header .sv-header__navigation {
    order: 2;
    height: 100%;
  }

  #sv-header .sv-header__logo {
    order: 1;
    max-width: 170px;
  }
  
  #sv-header .sv-header__logo-text {
    text-align: left;
  }

  #sv-header .sv-header__icon-search {
    width: 100%;
    max-width: fit-content;
    order: 3;
    position: static;
    transform: none;
  }

  #sv-header .sv-header__buttons {
    width: auto;
    order: 4;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
  }

  #sv-header .sv-header__navigation {
    opacity: 1;
    position: static;
    pointer-events: initial;
    padding: 0;
  }

  #sv-header .sv-header__navigation .sv-header__menu-list {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 22px;
  }

  #sv-header .sv-header__navigation .menu-item {
    position: static;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: default;
    gap: 5px;
  }

  #sv-header .sv-header__navigation .menu-item a {
    font-size: var(--px-12);
    font-weight: 700;
    text-transform: uppercase;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
    padding: 0;
    white-space: nowrap;
  }

  #sv-header .sv-header__navigation .menu-item-has-children::after {
    background-repeat: no-repeat;
    background-size: 8px;
    position: static;
    transform: rotate(90deg);
    height: 18px;
    width: 18px;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
  }

  #sv-header .sv-header__navigation .menu-item-has-children:hover::after {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="e-font-icon-svg e-fas-chevron-right"><path fill="%23FDBA14" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>') center center no-repeat;
    background-size: 8px;
  }

  #sv-header .sv-header__navigation .menu-item .submenu-wrapper .menu-item::before {
    display: none;
  }

  #sv-header .sv-header__navigation .submenu-wrapper {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-FFFF);
    z-index: -1;
    padding: 40px 30px;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 44px 46px -18px var(--color-box-shadow);
  }

  #sv-header .sv-header__navigation .submenu-wrapper:before {
    content: "";
    bottom: 100%;
    height: 32px;
    position: absolute;
    width: 100%;
    left: 0;
  }

  #sv-header .sv-header__navigation .menu-item:hover .submenu-wrapper,
  #sv-header .sv-header__navigation .menu-item:focus-within .submenu-wrapper {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }

  #sv-header .sv-header__navigation .submenu-content {
    --container: 1140px;

    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    max-width: var(--container);
    gap: 30px;
  }

  #sv-header .sv-header__navigation .menu-item-title {
    width: 100%;
    max-width: 178px;
    box-sizing: content-box;
  }

  #sv-header .sv-header__navigation .menu-item-title span:after {
    display: inline-block;
    margin-left: 10px;
    position: static;
  }

  #sv-header .sub-menu {
    grid-template-columns: repeat(3, 1fr);
  }

  #sv-header .sv-header__back-button,
  #sv-header .sv-header__navigation .submenu-wrapper .menu-item-btn {
    display: none;
  }
}

