body.body--with-checkbox-checked {
  overflow: hidden;
}

#sv-header {
  background-color: var(--color-primary-900);
  margin: 0 -16px;
  padding: 0 16px;
}

#sv-header .sv-header__container {
  --container: 100%;

  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  max-height: 76px;
  max-width: var(--container);
  padding: 18px 0;
}

#sv-header .sv-header__checkbox {
  display: none;
}

#sv-header .sv-header__nav-controls {
  line-height: 0;
  order: 3;
  width: 25%;
}

#sv-header .sv-header__checkbox:checked~.sv-header__nav-controls .sv-header__navOpen,
#sv-header .sv-header__navClose {
  display: none;
}

#sv-header .sv-header__checkbox:checked~.sv-header__nav-controls .sv-header__navClose {
  display: block;
}

#sv-header .sv-header__logo {
  line-height: 0;
  max-width: 100px;
  order: 2;
  width: 50%;
}

#sv-header .sv-header__logo img {
  width: 100%;
}

#sv-header .sv-header__logo-text {
  color: var(--color-gray-800);
  font-size: var(--px-18);
  font-weight: 700;
  line-height: var(--px-22);
  text-align: center;
}

#sv-header .sv-header__buttons {
  order: 1;
  width: 25%;
}

#sv-header .sv-header__button {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  padding: 0;
}

#sv-header .sv-header__navigation {
  background-color: var(--color-primary-900);
  color: var(--color-white);
  height: calc(100dvh - 76px);
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 76px;
  transition: all 500ms;
  width: 100%;
  z-index: 100;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation {
  opacity: 1;
  overflow: auto;
  pointer-events: initial;
}

#sv-header .sv-header__navigation .sv-header__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sv-header .sv-header__navigation .menu-item {
  align-items: center;
  border-bottom-color: var(--color-border-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#sv-header .sv-header__navigation .menu-item-btn {
  border-bottom-width: 0;
}

#sv-header .sv-header__navigation .menu-item a {
  color: var(--color-primary-300);
  display: flex;
  flex-direction: column;
  font-family: var(--f-family-cairo);
  font-size: var(--px-16);
  font-weight: 700;
  line-height: var(--px-24);
  padding: 20px 16px 20px 16px;
  transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

#sv-header .sv-header__navigation .menu-item-object-page:hover > a {
  color: var(--color-white);
}

#sv-header .menu-item .menu-item-description {
  font-weight: 400;
}

#sv-header .sv-header__navigation .menu-item-has-children::after {
  background: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg' class='e-font-icon-svg e-fas-chevron-right'><path fill='%232942BC' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'></path></svg>") no-repeat center center;
  content: '';
  height: 14px;
  position: absolute;
  right: 16px;
  width: 8px;
}

#sv-header .sv-header__back-menu-container {
  background-color: var(--color-primary);
  width: 100%;
}

#sv-header #sv-header__back-menu {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  margin-bottom: 0;
  padding: 14px 16px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  width: 100%;
}

#sv-header #sv-header__back-menu::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.03033 3.96967C8.32322 4.26256 8.32322 4.73744 8.03033 5.03033L4.81066 8.25H15C15.4142 8.25 15.75 8.58579 15.75 9C15.75 9.41421 15.4142 9.75 15 9.75H4.81066L8.03033 12.9697C8.32322 13.2626 8.32322 13.7374 8.03033 14.0303C7.73744 14.3232 7.26256 14.3232 6.96967 14.0303L2.46967 9.53033C2.17678 9.23744 2.17678 8.76256 2.46967 8.46967L6.96967 3.96967C7.26256 3.67678 7.73744 3.67678 8.03033 3.96967Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
}

#sv-header .sv-header__back-button span {
  color: var(--color-white);
  font-family: var(--f-family-cairo);
  font-size: var(--px-12);
  font-weight: 700;
  line-height: var(--px-18);
  margin-left: 8px;
}

#sv-header .sv-header__navigation .menu-item-title a {
  background-color: var(--color-primary-900);
  border-bottom-color: var(--color-white);
  color: var(--color-white);
  font-family: var(--f-family-cairo);
  font-size: var(--px-16);
  font-weight: 700;
  line-height: var(--px-24);
  padding: 24px 16px;
}

@media(max-width: 1024px) {
  #sv-header .sub-menu {
    background-color: var(--color-primary-900);
    height: calc(100dvh - 73px);
    left: 100%;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 73px;
    transition: all 500ms;
    width: 100%;
    z-index: 200;
  }
  
  #sv-header .sub-menu.submenu-container--show {
    left: 0;
  }

  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .sub-menu {
    height: calc(100dvh - 122px);
    top: 122px;
  }
  
  #sv-header .sv-header__button:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="a568616d-e803-463b-a2a4-d518d42f15ef" data-name="Layer 1" viewBox="0 0 24.04 24"><defs><style>.b2710828-5821-4824-b29e-df69364ca91d{fill:%230a102c;}.ad20df55-44b6-4c9e-b4aa-24d25f96f4ba{fill:url(%23a9e6b26a-24a8-430c-9364-5fc961642203);}</style><linearGradient id="a9e6b26a-24a8-430c-9364-5fc961642203" x1="21.27" y1="763.75" x2="21.27" y2="762.75" gradientTransform="matrix(24.04, 0, 0, -24, 287.73, 18591.46)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%2350c9ff"></stop><stop offset="1" stop-color="%232942bc"></stop></linearGradient></defs><g id="acd281f2-451c-481d-a49a-a95bd8b6d621" data-name="Group 1809"><path id="a2f1d0df-926f-4c87-a83f-186a972ed5ca" data-name="Path 135" class="b2710828-5821-4824-b29e-df69364ca91d" d="M799.08,260.1a12,12,0,0,0-12,12h0a11.78,11.78,0,0,0,2.7,7.58l-2.4,2.4a1.17,1.17,0,0,0,.9,2h10.78a12,12,0,0,0,0-24Z" transform="translate(-787.05 -260.1)"></path><path id="a5c58646-fff7-468b-8fef-c2527058805c" data-name="comment" class="ad20df55-44b6-4c9e-b4aa-24d25f96f4ba" d="M799.09,260.1a12,12,0,0,0-9.29,19.6l-2.4,2.4a1.18,1.18,0,0,0,0,1.66,1.21,1.21,0,0,0,.9.34h10.8a12,12,0,0,0,0-24Zm0,21.6h-7.91l1.12-1.11a1.2,1.2,0,0,0,0-1.7,9.61,9.61,0,1,1,6.79,2.81Z" transform="translate(-787.05 -260.1)"></path></g></svg>');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 32px;
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}

@media(min-width: 1025px) {
  #sv-header {
    margin: 0;
    padding: 0;
  }
  
  #sv-header .d-none-desktop {
    display: none !important;
  }

  #sv-header .d-none-mobile {
    display: block;
  }

  #sv-header .sv-header__container {
    --container: 1920px;

    flex-direction: row;
    gap: 24px;
    padding: 21px 0;
  }

  #sv-header .sv-header__navigation {
    height: 100%;
    order: 2;
  }
  
  #sv-header .sv-header__logo {
    order: 1;
  }

  #sv-header .sv-header__logo-text {
    text-align: left;
  }

  #sv-header .sv-header__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    order: 3;
    width: auto;
  }
  
  #sv-header .sv-header__button--hire {
    background-color: var(--color-primary);
    border-radius: 8px 8px 0 8px;
    color: var(--color-white);
    font-family: cairo, sans-serif;
    font-size: var(--px-13);
    font-weight: 700;
    letter-spacing: .25px;
    line-height: var(--px-20);
    padding: 16px;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
    width: max-content;
  }
  
  #sv-header .sv-header__button--hire:hover {
    background-color: var(--color-primary-hover);
  }

  #sv-header .sv-header__navigation {
    opacity: 1;
    pointer-events: initial;
    position: static;
  }
  
  #sv-header .sv-header__navigation .sv-header__menu-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  
  #sv-header .sv-header__navigation .menu-item {
    background-color: transparent;
    border: none;
    cursor: default;
    padding: 0;
    position: relative;
  }
  
  #sv-header .sv-header__navigation .menu-item a {
    display: block;
    font-size: var(--px-13);
    padding: 0;
    transition: all .5s ease-in-out;
  }
  
  #sv-header .sv-header__navigation .menu-item.menu-item-has-children > a::after {
    background-color: var(--color-primary-300);
    border-radius: 50px;
    content: '';
    display: inline-block;
    height: 5px;
    margin: 0 0 0 5px;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
    width: 5px;
  }
  
  #sv-header .sv-header__navigation .menu-item-object-page:hover > a::after {
    background-color: var(--color-white);
  }

  #sv-header .sv-header__navigation .menu-item .sub-menu .menu-item::before,
  #sv-header .sv-header__navigation .menu-item-has-children::after {
    display: none;
  }

  #sv-header .sv-header__navigation .sub-menu {
    background-color: var(--color-submenu-bg);
    backdrop-filter: blur(24px);
    border-radius: 0 16px 16px 16px;
    box-shadow: 0 16px 24px 0 var(--color-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: max-content;
    opacity: 0;
    padding: 34px 24px;
    position: absolute;
    top: calc(100% + 32px);
    transition: all .3s ease-in-out;
    visibility: hidden;
    width: max-content;
    -webkit-backdrop-filter: blur(24px);
    z-index: 1000;
  }
  
  #sv-header .sv-header__navigation .sub-menu:before {
    bottom: 100%;
    content: "";
    height: 32px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  #sv-header .sv-header__navigation .menu-item:hover .sub-menu,
  #sv-header .sv-header__navigation .menu-item:focus-within .sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #sv-header .sv-header__navigation .sub-menu .menu-item-btn,
  #sv-header .sv-header__navigation .sub-menu .menu-item-title {
    display: none;
  }

  #sv-header .sv-header__navigation .sub-menu li {
    position: relative;
  }

  #sv-header .sv-header__navigation .sub-menu a {
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
    width: 100%;
  }
  
  #sv-header .sv-header__navigation .sub-menu a:hover,
  #sv-header .sv-header__navigation .sub-menu a:focus {
    color: var(--color-white);
  }
}

@media(min-width: 1200px) {
  #sv-header .sv-header__navigation .sv-header__menu-list {
    gap: 32px;
  }
}