/* FONT: FAMILY */
body.body--with-checkbox-checked {
  overflow: hidden;
}

#sv-header {
  background-color: var(--color-gray-150);
  border-bottom: 1px solid var( --color-border);
  padding: 0 16px;
}

#sv-header .sv-header__container {
  --container: 100%;

  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container);
  padding: 24px 0;
}


#sv-header .sv-header__checkbox {
  display: none;
}

#sv-header .sv-header__nav-controls {
  line-height: 0;
  order: 1;
  width: auto;
}

#sv-header .sv-header__checkbox:checked~.sv-header__nav-controls .sv-header__navOpen,
#sv-header .sv-header__navClose {
  display: none;
}

#sv-header .sv-header__checkbox:checked~.sv-header__nav-controls .sv-header__navClose {
  display: block;
}

#sv-header .sv-header__logo {
  line-height: 0;
  max-width: 130px;
  order: 2;
  width: 100%;
}

#sv-header .sv-header__logo img {
  width: 100%;
}

#sv-header .sv-header__logo-text {
  color: var(--color-gray-500);
  font-size: var(--px-18);
  font-weight: 700;
  line-height: var(--px-22);
  text-align: center;
}

#sv-header .sv-header__buttons {
  display: none;
  order: 3;
  width: 33%;
}

#sv-header .sv-header__button {
  color: var(--color-gray-800);
  font-family: var(--font-family-primary);
  font-size: var(--px-12);
  font-weight: 500;
  line-height: var(--px-18);
  padding: 12px 14px 12px 14px;
  border-radius: 50px;
  transition: var(--transition-default);
}

#sv-header .sv-header__button--hire {
  background-color: var(--color-red-500);
  box-sizing: border-box;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  line-height: var(--px-24);
  font-size: var(--px-16);
  margin: 24px 16px;
}

#sv-header .sv-header__navigation .sv-header__button--login {
  background-color: var(--color-gray-100);
  box-sizing: border-box;
  color: var(--color-gray-500);
  display: flex;
  font-family: var(--font-family-primary);
  font-size: var(--px-16);
  font-weight: 700;
  justify-content: center;
  line-height: var(--px-24);
  margin: 24px 16px;
}

#sv-header .sv-header__navigation {
  background-color: var(--color-white);
  color: var(--color-white);
  height: calc(100dvh - 71px);
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 71px;
  transition: var(--transition-default);
  width: 100%;
  z-index: 100;
}

#sv-header .sv-header__checkbox:checked~.sv-header__navigation {
  opacity: 1;
  overflow: auto;
  pointer-events: initial;
}

#sv-header .sv-header__navigation .sv-header__menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sv-header .sv-header__navigation .menu-item {
  align-items: center;
  background-color: var(--color-white);
  border-bottom-color: var(--color-gray-200);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#sv-header .sv-header__navigation .menu-item a {
  color: var(--color-gray-600);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary);
  font-size: var(--px-14);
  font-weight: 600;
  line-height: var(--px-22);
  padding: 20px 16px 20px 16px;
  user-select: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
}

#sv-header .menu-item .menu-item-description {
  font-weight: 400;
}

#sv-header .sv-header__navigation .menu-item-has-children::after {
  background: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg" class="e-font-icon-svg e-fas-chevron-right"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>') no-repeat center center;
  content: '';
  height: 14px;
  position: absolute;
  right: 16px;
  width: 8px;
  z-index: 1;
}

#sv-header .sv-header__back-menu-container {
  background-color: var(--color-blue-500);
  width: 100%;
}

#sv-header #sv-header__back-menu {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  margin-bottom: 0;
  padding: 14px 16px;
  user-select: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

#sv-header #sv-header__back-menu::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.03033 3.96967C8.32322 4.26256 8.32322 4.73744 8.03033 5.03033L4.81066 8.25H15C15.4142 8.25 15.75 8.58579 15.75 9C15.75 9.41421 15.4142 9.75 15 9.75H4.81066L8.03033 12.9697C8.32322 13.2626 8.32322 13.7374 8.03033 14.0303C7.73744 14.3232 7.26256 14.3232 6.96967 14.0303L2.46967 9.53033C2.17678 9.23744 2.17678 8.76256 2.46967 8.46967L6.96967 3.96967C7.26256 3.67678 7.73744 3.67678 8.03033 3.96967Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
}

#sv-header .sv-header__back-button span {
  color: var(--color-white);
  font-family: var(--font-family-primary);
  font-size: var(--px-12);
  font-weight: 700;
  line-height: var(--px-18);
  margin-left: 8px;
}

#sv-header .sv-header__navigation .menu-item-title {
  background-color: var(--color-gray-150);
  border: none;
  color: var(--color-red-500);
  font-family: var(--font-family-primary);
  font-size: var(--px-16);
  font-weight: 700;
  line-height: var(--px-24);
  padding: 24px 16px;
}

#sv-header .sv-header__navigation .menu-item .menu-item-image,
#sv-header .sub-menu .menu-item ul,
#sv-header .sv-header__navigation .sub-menu .menu-item-has-children::after {
  display: none;
}

/* Mega Menu 
------------ */
#sv-header .menu-mega--produtos .menu-item {
  border: none;
  display: block;
  position: static;
}

#sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one img {
  display: none;
}

#sv-header .menu-mega--produtos .menu-mega--modules {
  padding-top: 0px;
  padding-bottom: 8px;
}

#sv-header .menu-mega--produtos .menu-mega--modules > a {
  font-size: var(--px-12);
  padding: 10px 16px 8px 16px;
  pointer-events: none;
  text-transform: uppercase;
}

#sv-header .menu-item.menu-mega--produtos .menu-level-3 {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#sv-header .menu-mega--produtos .menu-level-3 .menu-item a {
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 12px 28px 12px 28px;
}

#sv-header .menu-mega--produtos .menu-mega--modules .menu-level-3 .menu-item a img {
  height: 18px;
  width: 18px;
  display: block;
}

@media(max-width: 1024px) {
  #sv-header {
    max-height: 72px;
  }

  body.logged-in.admin-bar #sv-header .sv-header__navigation,
  body.logged-in.admin-bar #sv-header .sub-menu {
    height: calc(100dvh - 118px);
    top: 118px;
  }

  #sv-header .sub-menu {
    background-color: var(--color-white);
    height: calc(100dvh - 72px);
    left: 100%;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 72px;
    transition: var(--transition-default);
    width: 100%;
    z-index: 200;
  }
  
  #sv-header .sub-menu.submenu-container--show {
    left: 0;
  }
}

@media(min-width: 1025px) {
  #sv-header {
    max-height: 84px;
  }

  #sv-header .d-none-desktop {
    display: none !important;
  }

  #sv-header .d-none-mobile {
    display: block;
  }

  #sv-header .sv-header__container {
    --container: 1200px;

    flex-direction: row;
    gap: 24px;
    padding: 20px 0;
  }
  
  #sv-header .sv-header__navigation {
    height: 100%;
    order: 2;
  }

  #sv-header .sv-header__logo {
    order: 1;
  }

  #sv-header .sv-header__logo-text {
    text-align: left;
  }

  #sv-header .sv-header__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    order: 3;
    width: auto;
  }
  
  #sv-header .sv-header__button--hire {
    margin: 0;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    width: max-content;
    z-index: 1;
  }
  
  #sv-header .sv-header__button--hire::after {
    background: var(--color-blue-500);
    bottom: -100%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: var(--transition-default);
    z-index: -1;
  }
  
  #sv-header .sv-header__button--hire:hover::after {
    bottom: 0;
    top: 0;
  }
  
  #sv-header .sv-header__navigation {
    background-color: var(--color-gray-150);
    opacity: 1;
    pointer-events: initial;
    position: static;
  }
  
  #sv-header .sv-header__navigation .sv-header__menu-list {
    display: flex;
    gap: 0;
    justify-content: center;
  }
  
  #sv-header .sv-header__navigation .menu-item {
    background-color: transparent;
    border: none;
    cursor: default;
    padding: 0;
    position: relative;
  }
  
  #sv-header .sv-header__navigation .menu-item a {
    font-size: var(--px-16);
    line-height: var(--px-26);
    padding: 0 16px;
    transition: var(--transition-default);
  }
  
  #sv-header .sv-header__navigation .menu-item::before {
    background-color: var(--color-red-500);
    bottom: -29px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: var(--transition-default);
    width: 0;
  }
  
  #sv-header .sv-header__navigation .menu-item:hover::before {
    width: 100%;
  }

  #sv-header .sv-header__navigation .menu-item .sub-menu .menu-item::before,
  #sv-header .sv-header__navigation .menu-item-has-children::after {
    display: none;
  }

  #sv-header .sv-header__navigation .sub-menu {
    background-color: var(--color-blue-200);
    box-shadow: 0 16px 24px 0 var(--color-shadow);
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: 0;
    max-width: max-content;
    min-width: 320px;
    opacity: 0;
    padding: 24px 32px;
    position: absolute;
    top: calc(100% + 29px);
    transition: var(--transition-default);
    visibility: hidden;
    width: max-content;
    z-index: 1000;
  }
  
  #sv-header .sv-header__navigation .sub-menu:before {
    bottom: 100%;
    content: "";
    height: 29px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  #sv-header .sv-header__navigation .menu-item:hover .sub-menu,
  #sv-header .sv-header__navigation .menu-item:focus-within .sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #sv-header .sv-header__navigation .sub-menu .menu-item-btn,
  #sv-header .sv-header__navigation .sub-menu .menu-item-title {
    display: none;
  }

  #sv-header .sv-header__navigation .sub-menu li {
    position: relative;
  }

  #sv-header .sv-header__navigation .sub-menu a {
    align-items: flex-start;
    background-color: var(--color-blue-200);
    border-radius: 8px;
    color: var(--color-gray-700);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    transition: var(--transition-default);
    width: 100%;
  }
  
  #sv-header .sv-header__navigation .sub-menu a:hover,
  #sv-header .sv-header__navigation .sub-menu a:focus {
    background-color: var(--color-cyan-400);
    color: var(--color-gray-700);
  }

  /* Mega Menu 
  ------------ */
  #sv-header .menu-mega--produtos .menu-level-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: none;
    width: 724px;
  }
  
  #sv-header .menu-mega--produtos .menu-level-2 > .menu-item {
    width: 50%;
  }

  #sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one {
    padding: 16px;
    border-radius: 8px;
    transition: var(--transition-default);
  }

  #sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one:hover {
    background-color: var(--color-cyan-400);
  }

  #sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one a {
    background-color: transparent;
    font-size: var(--px-24);
    gap: 20px;
    line-height: var(--px-30);
    padding: 0;
  }
  
  #sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one .menu-item-description {
    font-size: var(--px-16);
    line-height: var(--px-22);
    margin-top: -10px;
  }
  
  #sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one picture,
  #sv-header .menu-mega--produtos .menu-level-2 .subitem-stratws-one img {
    display: flex;
    order: 3;
  }

  #sv-header .menu-mega--produtos .menu-mega--modules > a {
    font-size: var(--px-14);
    font-weight: 700;
    line-height: var(--px-22);
    padding: 12px 0px 16px 0px;
  }
  
  #sv-header .menu-item.menu-mega--produtos .menu-level-3 {
    gap: 4px;
  }

  #sv-header .menu-mega--produtos .menu-level-3 .menu-item a {
    font-size: var(--px-14);
    justify-content: flex-start;
    line-height: var(--px-22);
    padding: 8px;
  }
  
  #sv-header .menu-mega--produtos .menu-mega--modules .menu-level-3 .menu-item a img {
    height: 16px;
    width: 16px;
  }
}

@media(min-width: 1200px) {
  #sv-header .sv-header__navigation .sv-header__menu-list {
    gap: 24px;
  }

  #sv-header .menu-mega--produtos .menu-level-2 {
    width: 774px;
  }
}
