:root {
  /* COLORS */
  --color-0000: #000000;
  --color-FFFF: #FFFFFF;
  --color-FDBA: #FDBA14;
  --color-0C0D: #0C0D0D;
  --color-1E1E: #1E1E1E;
  --color-3037: #30373D;
  --color-DEDE: #DEDEDE;
  --color-9090: #909090;
  --color-box-shadow: rgba(0, 0, 0, 0.18);
  --color-overlay-dark: rgba(0, 0, 0, 0.8);
  
  /* TRANSITION */
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
  --transition-property: all;

  /* FONT: FAMILY */
  --f-family-var: 'Montserrat', sans-serif;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-primary: #FDBA14;
  --color-gray-900: #272727;
  --color-gray-300: #C5C5C5;
  --color-overlay: rgba(0, 0, 0, 0.8);
  --color-box-shadow: rgba(0, 0, 0, 0.15);
  
  /* TRANSITION */
  --transition-default: all 0.3s ease-in-out;

  /* FONT: FAMILY */
  --font-family-primary: 'Montserrat', sans-serif;

  /* PX TO REM */
  --px-base: 16;
  --px-to-rem: 1rem;

  /* PX TO REM: 12-20 */
  --px-12: calc(12 / var(--px-base) * var(--px-to-rem));
  --px-13: calc(13 / var(--px-base) * var(--px-to-rem));
  --px-14: calc(14 / var(--px-base) * var(--px-to-rem));
  --px-16: calc(16 / var(--px-base) * var(--px-to-rem));
  --px-18: calc(16 / var(--px-base) * var(--px-to-rem));
  --px-20: calc(20 / var(--px-base) * var(--px-to-rem));

  /* PX TO REM: 22-30 */
  --px-22: calc(22 / var(--px-base) * var(--px-to-rem));
  --px-24: calc(24 / var(--px-base) * var(--px-to-rem));
  --px-26: calc(26 / var(--px-base) * var(--px-to-rem));
  --px-28: calc(28 / var(--px-base) * var(--px-to-rem));
  --px-30: calc(30 / var(--px-base) * var(--px-to-rem));

  /* PX TO REM: 32-40 */
  --px-32: calc(32 / var(--px-base) * var(--px-to-rem));
  --px-34: calc(34 / var(--px-base) * var(--px-to-rem));
  --px-36: calc(36 / var(--px-base) * var(--px-to-rem));
  --px-40: calc(40 / var(--px-base) * var(--px-to-rem));

  /* PX TO REM: 42-50 */
  --px-42: calc(42 / var(--px-base) * var(--px-to-rem));
  --px-44: calc(44 / var(--px-base) * var(--px-to-rem));
  --px-48: calc(48 / var(--px-base) * var(--px-to-rem));

  /* PX TO REM: 52-60 */
  --px-52: calc(52 / var(--px-base) * var(--px-to-rem));
  --px-54: calc(54 / var(--px-base) * var(--px-to-rem));
  --px-56: calc(56 / var(--px-base) * var(--px-to-rem));
}