:root {
  /* === COLORS === */
  /* Core */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Grayscale */
  --color-gray-100: #f3f5f9;
  --color-gray-150: #eef3ff;
  --color-gray-200: #e4e9f5;
  --color-gray-300: #dee2e6;
  --color-gray-400: #7a7a7a;
  --color-gray-500: #30373d;
  --color-gray-600: #1c2122;
  --color-gray-700: #1e2325;
  --color-gray-800: #0c0d0d;

  /* Primary Colors */
  --color-blue-200: #e4ecff;
  --color-blue-500: #2a59dd;
  --color-red-500: #e31b23;
  --color-cyan-400: #6ec1e478;

  /* Utility Colors */
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-overlay-dark: rgba(0, 0, 0, 0.8);
  --color-border: #7a7a7a80;

  /* === TRANSITIONS === */
  --transition-default: all 0.3s ease-in-out;

  /* === TYPOGRAPHY === */
  --font-family-primary: "Heebo", sans-serif;
  --font-family-secondary: "Galano Grotesque", sans-serif;

  /* === SPACING & SIZES === */
  --px-base: 16;
  --px-to-rem: 1rem;

  /* 12px - 20px */
  --px-12: calc(12 / var(--px-base) * var(--px-to-rem));
  --px-14: calc(14 / var(--px-base) * var(--px-to-rem));
  --px-16: calc(16 / var(--px-base) * var(--px-to-rem));
  --px-18: calc(18 / var(--px-base) * var(--px-to-rem));
  --px-20: calc(20 / var(--px-base) * var(--px-to-rem));

  /* 22px - 30px */
  --px-22: calc(22 / var(--px-base) * var(--px-to-rem));
  --px-24: calc(24 / var(--px-base) * var(--px-to-rem));
  --px-26: calc(26 / var(--px-base) * var(--px-to-rem));
  --px-28: calc(28 / var(--px-base) * var(--px-to-rem));
  --px-30: calc(30 / var(--px-base) * var(--px-to-rem));

  /* 32px - 40px */
  --px-32: calc(32 / var(--px-base) * var(--px-to-rem));
  --px-34: calc(34 / var(--px-base) * var(--px-to-rem));
  --px-36: calc(36 / var(--px-base) * var(--px-to-rem));
  --px-40: calc(40 / var(--px-base) * var(--px-to-rem));

  /* 42px - 50px */
  --px-42: calc(42 / var(--px-base) * var(--px-to-rem));
  --px-44: calc(44 / var(--px-base) * var(--px-to-rem));
  --px-48: calc(48 / var(--px-base) * var(--px-to-rem));

  /* 52px - 60px */
  --px-52: calc(52 / var(--px-base) * var(--px-to-rem));
  --px-54: calc(54 / var(--px-base) * var(--px-to-rem));
  --px-56: calc(56 / var(--px-base) * var(--px-to-rem));
}