.overflow-hidden {
  overflow: hidden;
}

#demo-modal.demo-modal-overlay {
  position: fixed;
  left: 0;
  background-color: rgba(0,0,0,.8);
  display: none;
  z-index: 9999;
  top: 72px;
  padding: 10px;
  overflow: auto;
  width: 100vw;
  height: calc(100dvh - 72px);
  justify-content: center;
  align-items: flex-start;
}

body.logged-in.admin-bar #demo-modal.demo-modal-overlay {
  top: 118px;
  height: calc(100dvh - 118px);
}

#demo-modal.demo-modal-overlay.demo-modal--show {
  display: flex;
}

#demo-modal .demo-modal__content {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
}

#demo-modal .demo-modal-close-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-bottom: 1px solid #DEE2E6;
  height: 56px;
  max-height: 56px;
}

#demo-modal .demo-modal-close-container:last-of-type {
  border-top: 1px solid #DEE2E6;
  border-bottom: none;
}

#demo-modal .demo-modal__close {
  color: #7A7A7A;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0;
}

#demo-modal .demo-modal__close-icon {
  width: 18px;
}

#demo-modal .demo-modal__close.demo-modal__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

#demo-modal #form-container {
  padding: 16px;
}

@media(min-width: 768px) {
  #demo-modal.demo-modal-overlay {
    padding: 30px 10px;
    top: 86px;
    height: calc(100dvh - 86px);
  }

  #demo-modal .demo-modal__content {
    max-width: 500px;
  }
}

@media(min-width: 768px) {
  #demo-modal.demo-modal-overlay {
    top: 0;
    height: 100dvh;
  }

  body.logged-in.admin-bar #demo-modal.demo-modal-overlay {
    top: 32px;
    height: calc(100dvh - 32px);
  }
}